body {
	padding: 2%;
	font-size: 1.2em;
}

img {
	height: 25%;
	width: 25%;
}
zq
.tablediv {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}



li {
	margin-top: 1%;
	span {
		padding-left: 10px;
		input {
			width: 10%;
		}
		.button {
			padding: 1px;
		}
	}
}

#about-organizer {
	display: flex;

	justify-content: flex-start;
	form {
		display: flex;
		align-content: center;
		flex-direction: column;
		margin-top: 5px;
		button {
			margin-top: 5px;
		}
	}

	h2 {
		@include margin-and-padding(0, 0);
	}

	p {
		@include margin-and-padding(0, 0);
	}
}


nav {
	border: 1px solid black;
	ul{
		display: flex;
		justify-content: space-around;
		li {
			text-decoration: none;
		}
	}
}

.ingredients {
	display: flex;

	ul {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		height: 100%;
		width: 50%;
		padding-left: 0;
		li {
			text-align: center;
			margin: 5%;
			list-style: none;

		}
	}
	.ingredient-images {
		height: 50%;
		width: 50%;
		display: flex;
		flex-wrap: wrap;

		img {
			height:  50%;
			width: 50%;
		}
	}
}

table {
	th, td {
		border: 1px solid black;
		text-align: center;
	}
}

.basic-steps{
	ol {

	}
}

.imagecenter {
	display:flex;
	justify-content: center;
	img {
		height:250px;
		width:250px;
	}
}

.structure {
	display:flex;
	justify-content: center;
}

#glucose{
	height: 200px;
	width: 200px;
}
