<h2>Boiling</h2>
<h3>Why boil?</h3>
<p>Boiling serves 3 main purposes:</p>
<ol>
  <li>Kill harmful microorganims</li>
  <li>Reduce water volume</li>
  <li>High temperature allows for steeping and extraction of hops</li>
</ol>
<h3>
  Kill the Microbes!
</h3>
<p>Microbes are everywhere! Many of them are harmless. However, they gotta eat! Just about every living thing eats sugar, but we want to save it for our yeast buddies to make alcohol! Basically consider every microorganism that <em>isn't</em> the yeast you add to be bad.  Some will just give bad flavors, and some could even make you sick.</p>
<p> Can you get rid of htem all? NO! Boiling pretty much kills everything in your wort NOW, but as you cool it, some will fall in. There are always some critters you don't want in there. But it's a numbers game. You will literally add billions of yeast cells, and they will multiply so rapidly that any non-yeaste microbe who falls in your beer probably won't be able to reproduce in large numbers. Probably...</p>

<h3>Blow Off Some Steam</h3>
<p> In order to get the maximum amount of the sugars out of your grain, you need to rinse with more water than you will want in your final product. Boiling off about 10-20% will ensure your final product is not too watery (unless that's what you're going for). You'll need to boil for about an hour to take off 1-2 gallons of water.</p>

<h3>Bitter is Better</h3>
<p>Hops are full of bittering compounds so the final beer won't be too sweet. However, these chemicals (like most chemicals) dissolve in water better at high temperatuers. The longer you boil for, the more chemicals get extracted. Think steeping tea here.  The longer you steep, the stronger the tea taste. That's becuase with more time, more chemicals can transfer form the hops (or tea) into the water. The physical process of moving hte chemicals around takes time. </p>
