<h2> Bottling </h2>
<h3>The Wait Isn't Over</h3>
<p>You've now waited patiently 2-3 weeks.  Can we drink it yet? NO! Not unless you like flat beer! I don't know about you, but I like mine sudsy. At this stage you will add about 3/4 cup of dextose (a simple sugar) and stir it before bottling. This will provide JUST ENOUGH carbonation as the yeast ferment this last bit of sugar and give off carbon dixoide <em>inside the bottle!</em> </p>

<p>Again, use your racking cane and tubing to minimize oxygen exposure. Cap the bottles, and give them a few days to finish fermenting. The carbon dioxide cannot escape now, so this will actually carbonate the beer in the bottle. It's called "bottle conditioning". Actually there's more to it than that as that term implies aging the beer as well. This means that you will ultmiately have a thin layer of yeast sludge in your final product. However, that's good B vitamins! Drink up!</p>
