<h2>Chilling</h2>
<h3>Cool it down, FAST!</h3>
<p>The boiling killed the microbes. Good! But that means it would kill your yeast too! So you need to cool your hopped wort down before adding your yeast. But do it quickly! Microbes from the air will definitley fall in and chow down on the nutritious broth you have created for your yeast. You want minimize the amount of bad microbes that fall in by getting the temperature down as quickly as possible.</p>

<h3>Wort Chiller</h3>
<p>If you need to cool 5-6 gallons of very hot water down to a lukewarm temparture quickly, the best way is to run cold water through your wort. No, don't ADD water (although that would work to cool it down). You don't want to dilute it! Instead your wort chiller will go directly into the beer. It's a copper tube that is coiled around to have a long length fit in a small volume. Cold tap water is piped throug hte copper, and as the cold water touches the hot copper wire, heat is transfered from the beer into the pipe into the cold water (which flows out the other end of the pipe.)</p>

<div class="imagecenter">
<img src="http://www.eckraus.com/media/catalog/product/cache/1/image/310x/9df78eab33525d08d6e5fb8d27136e95/t/m/tmp510lg.jpg" alt="wort chiller">
</div>

<p>You can put your brew kettle in an ice bath if you don't have a wort chiller, but that will take longer to cool.</p>

<p>Once the hopped wort is lukewarm, you'll want to pour it into your carboy. Make LOTS of bubbles and airate it as much as possible at this point.  This is becuase yest, like most organisms, need oxygen to live. They specivically need it in order to reproduce. You'll want a healthy and huge yeast popoulation to devour your sugars and make alcohol on a reasonably short timescale. <strong>Note that while you want oxygen in there NOW, you will NOT want it in there after fermentation begins! More on that in a minute.</strong></p>

<div class="imagecenter">
<img src="http://i0.wp.com/diybeertalk.files.wordpress.com/2014/04/straining-hops-into-ferment.jpg" alt="straining out hops">
</div>
<p>As you pour your wort into your carboy, use your strainer to remove the hops. They've done thier duty and you don't need them anymore.</p>


