<h2> Extracting Sugars</h2>
<h3>Some Basic Biochemistry</h3>
<p>Fact: Grain is chalk-full of sugar! </p>
<p>Fact: Yeast eat sugar and turn it into alcohol! </p>
<p>Fact: Yeast are NOT very good at eating grain! </p>

<p>Wait... what?  The sugar found in grains is called starch. Starch is a "complex carbohydrate" meaning it is a big molecule made up of many small "simple sugar" molecules stitched together in a chain of that is hudreds of sugar units long.</p>
<div class="structure">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Amylose2.svg/486px-Amylose2.svg.png" alt="starch molecule">
  <p>starch</p>
</div>

<p> Simple sugars are 1 or 2 sugar units long. Yeast prefer individual sugars units (glucose - the main ingredient in corn syrup), but can eat 2 sugars (sucrose - table sugar) too.</p>

<div class="structure">
  <img id="glucose"   src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Alpha-D-Glucopyranose.svg/157px-Alpha-D-Glucopyranose.svg.png" alt="glucose">
  <p>glucose</p>
</div>
<div class="structure">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Saccharose2.svg/345px-Saccharose2.svg.png" alt="sucrose">
  <p>sucrose</p>
</div>

<p> dextrin is 3 or more sugars long (but less than hundreds), and yeast cannot eat it very well, just like starch. But, it does add a little sweetness to beer and it adds to mouthfeel  (it makes the beer thicker).</p>

<div class="structure">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Poly-%281-4%29-alpha-D-Glucose.svg/565px-Poly-%281-4%29-alpha-D-Glucose.svg.png" alt="dextrin">
  <p>dextrin</p>
</div>
<p>So if yeast need simple sugars, and grains only make complex sugars, how do we make beer?  The answer is that grains DO make simple sugars <em>but only when they need it for thier own use.</em>
Fact: if you eat cereal then you eat babies!  Ok plant babies (embryos to be exact).   The grains we eat are actually <em>grass seed!</em>  The seed itself is in the middle of the grain, and it is surrounded with food (complex carbohydrates) to help it grow. But plants (and really ANY living thing) CANNOT eat complex carbohydrates. People have enzymes  (special protein molecules) that cut up starch into simple sugars that our body can then use for energy. Plants also have such enzymes. But the problem is that <strong>seeds are not themselves a plant</em>. Plants grow <em>from</em> seeds.  So the seed has to germinate and sprout into plant in order to have those enzymes. </p>

<h3>Part 1: Malting</h3>

<p>Ok, Professor Science, great story. Now how does that help us  with making beer?  Well, the trick to making beer is to germinate and sprout the seeds first. Then dry them out and kill them. This is called malting.</p>

<p>Once the grain seeds sprout, the baby plants start to make the enzymes to break down the starch into simple sugar.  If we kill the seed and dry it out, the enzyme molecules are still there, and we can use them to turn all the starch into simple sugars.</p>

<div class="imagecenter">
  <img class="sprouting" src="https://upload.wikimedia.org/wikipedia/commons/9/98/Gr%C3%BCnmalz.jpg" alt="sprouted grain">
</div>


<h3>Part 2: Mashing</h3>

<p>Neato chemistry fact: <em>chemical reactions occur more quickly at warmer temperatures.</em> Ever notice how plants grow more quickly in the spring than in the winter? One reason is because the chemical reactions that go on inside of plant cells occur more quickly in warmer temperatures, thus the plants grow more quickly. We will make use of this fact to speed up the conversion of starch to sugars from days to weeks (like a plant would take in the cold outdoors) to a matter of minutes (about an hour).  All it takes is warm water.</p>

So you need to give the grain a warm bath. But how much water should you use? What temperature should it be? That depends on a variety of factors, including: amount of grain, amount of water, what temperature you want the water-grain mixture to sit at.

<p>You can calculate your temperatures <a href="http://www.brewblogger.net/?page=tools&section=strike&action=calculate">here</a>.</p>

<p>Fun fact: there is more than one kind of enzyme in the plants that breaks down sugars. It basically boils down to 2 types: enzymes for cutting super huge molecules into mid-sized sugars, and enzymes for cutting mid-sized sugars into simple sugars. We will need to make use of both of these.</p>

<strong>Do not use water over about 160&deg F! If your water is too hot, you will destroy the enzymes that convert starch to fermentable sugars!</strong>. While hte enzymes are not themselves alive, if the temperature gets to be too high, then you can "kill" the enzymes by  "breaking" thier machinery (literally twist them in a knot) and they won't do thier job anymore.

<p>So what is the ideal temperature? It depends on how much fermentable sugars you want (the kind that make alcohol) and how much dextrins you want (the kind that hang around and make the beer have a thicker mouthfeel). Temperatures closer to 140&deg F will make a higher percentage of fermentable sugars and less dextrins while temperatuers closer to 160&deg F will result in a higher percentage of dextrins (but still mostly fermentable sugars). </p> Figure out what kind of mouthfeel you want and set your temperature goal for that. Then do the calculation to find the strike temp (temp of the warm water before adding it ot the grain). Remember that the water will cool down when it touches the 10 pounds or so of grain, so your initial temperatuer may be above 160&deg F. You Just don't want it to <em>stay</em> that hot for very long.

<div class="imagecenter">
<img src="http://i.imgur.com/X4IOK.jpg?2" alt="empty mash tun">

<img src="http://homebrewingmagazine.com/wp-content/uploads/2010/03/all-grain-brewing-mash.jpg" alt="mash tun with grain">
</div>

<h3>Part 3: Sparging (aka rinsing the sugars off of the grain husks)</h3>

<p>Ok so now you have let your grain soak in a nice warm bath for about an hour. It's time to shower off. Literally. Sparging is when you rinse the grain off with hot water and collect the drainage. This runoff is called sweet wort (taste it! It really is sugarry sweet!)</p>

<p>OK but how hot should this sparge (rinsing) water be? First it needs to be hot because chemicals (such as sugar) dissolve better in hot water. Ever pour cold water over coffee? It doesn't work very well. But, the downside is that other chemicals  also dissolve well in hot water. Tannins, for example have an astringent taste  (think walnuts or unripe banans). So you want hot water  to rinse the sugars, but not so hot that you extract too many tannins either.  Go for around 170&deg F. </p>

<div class="imagecenter">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqsmmoJv9hY2NcXULERqyb5eXctJ0-063Xk3WrSe2_BC0I5Mwk" alt="sparging grain">
</div>

<p>You want to rinse slowly and evenly over the top of the grain bed. Don't stir it up! Just let gravity do the work! This way the dense sugars flow down with gravity. If you stir it up, you'll actually leave more sugars behind since they would otherwise fall to the bottom.</p>

<p>Keep adding hot water to the top, sprinkling it on slowly, until you have poured about 7 gallons of water out the bottom. Now you're ready to boil!</p>
