<h1>Slidey McSlideshow</h1>
<nav>
  <ul>
    <li>
      <a href="" id="previous" data-ng-click="previous()">Previous</a>
    </li>
    <li>
      <a href="" id="next" data-ng-click="next()">Next</a>
    </li>
  </ul>
</nav>

<section class="slides">
  <h2>Such Slides</h2>
  <section data-ng-if="current === 'slide1'" data-slide-one></section>
  <section data-ng-if="current === 'slide2'" data-slide-two></section>
  <section data-ng-if="current === 'slide3'" data-slide-three></section>
  <section data-ng-if="current === 'slide4'" data-slide-four></section>
</section>

