<h2>Sanitation</h2>
<h3>Kill the Bad Micorbes</h3>
<p>While boiling the beer killed most of the microbes, there will always be some lurking in your bottles, in your carboys, etc. To tackle this problem, you need to thoroughly clean all equipment and bottles that come into contact directly wiht the beer after it has been boiled.<p>

<p>You can use household bleach to sanitize, but that can leave a nasty flavor if you dont rinse it all off  (and the rinse water could be contaminated in some cases anyway). The best solution is to use a no-rinse sanitizer like iodophor, which uses iodine to sanitize rather than chlorine. Make sure to properly dilute it (about 1 ounce iodophor to 5 galons of water). Iodophor has a dark brownish-yellow color to it. When properly diluted, the iodophor-water should look  a pale yellow like apple juice. </p>
