<h1> Welcome to Zymurgy101!</h1>
What is <a href="http://dictionary.reference.com/browse/zymurgy?s=t">zymurgy</a> anyway?

<ul>

<li>Last modern word of the standard English language</li>

<li>Origin: Greek zymo- (to leaven like bread, which uses yeast to do this)  + -ourgia (working)</li>

<li> basically it means "working with yeast" - the science of fermentation - brewing and winemaking!</li>

<li> A lot of fun!</li>

<li>Something you should learn how to do!</li>

*zymo is also the root of "enzyme", and that topic is really important for brewing!
</ul>
